#primary-navbar ul {
    background-color: #292929;
    width: 100%;
    overflow: hidden;
}

#primary-navbar ul li {
    list-style-type: none;
    text-decoration: none;
    color: white;
    margin: 1rem;
    float: left;
}

#primary-navbar li:hover {
    color: #da4545;
}

.card {
    text-align: center;
    padding: 1rem;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hero h1 {
    font-size: xxx-large;
}

.content {
    padding-inline: 3rem;
}

#game-display {
    text-align: center;
    margin-block: 2rem;
}